
{% block content %}
<div>
  <p>Dear {{username}}</p>
  {%if postID=="feedback reply"%}
    <p>On {{posted}}, you sent us the following feedback:</p>
    <p>{{content}}</p>
    <p>{{reply}}<p>
  {%elif postID=="delete user"%}
    <p>Your account has been terminated</p>
  {%elif postID=="change password"%}
    <p>Use this <a href="{{url}}">link</a> to reset your password.
    Do bear in mind that the password link will only be valid for 30 mins from the time request to change password</p>
  {%elif postID=="account locked"%}
    <p>Your account has been locked as you have exceeded the maximum number of login attempts.</p>
    <p>Use this <a href="{{url}}">{{url}}</a> to reactivate your account. </p>
  {%else%}
    <p>On {{posted}}, you made the folowing post:</p>
    <p>{{content}}</p>
    <p>Your post has  been removed due to communiy guidelines.</p>
  {%endif%}
</div>

{% endblock %}
